/* line 8, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 11, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: #555;
  background-image: url(../images/home_mock.png);
  background-repeat: no-repeat;
  background-size: fill;
  background-color: #ecf0f1; }

/* line 22, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #555;
  padding-top: 20px; }

/* line 28, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
#simple-menu {
  display: none; }

/* line 30, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
#sidr {
  display: none; }

/* line 34, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 100%;
  display: block;
  clear: both;
  float: left; }

/* line 41, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.header {
  padding: 0px;
  background-color: white; }

/* line 46, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.nav {
  margin: 0;
  padding: 10px;
  float: right;
  margin-top: 45px; }
  /* line 52, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .nav li {
    margin: 0;
    padding: 5px;
    display: inline-block;
    list-style: none; }
    /* line 58, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .nav li a {
      padding: 15px; }
    /* line 62, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .nav li a:hover {
      color: #3498db; }

/* line 66, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.main {
  padding: 20px; }
  /* line 70, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .northerntickets {
    width: 100%; }
    /* line 72, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .northerntickets .slides {
      width: 586px;
      margin: auto; }
      /* line 75, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .northerntickets .slides .testingSlide {
        width: 100%;
        padding: 10px; }
  /* line 83, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .details #wrap {
    width: 50%;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    background-color: white;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
    /* line 90, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .details #wrap h2 {
      color: #e74c3c;
      padding-bottom: 5px;
      border-bottom: 1px solid #e74c3c; }
    /* line 94, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .details #wrap p {
      font-size: 1.1em; }
    /* line 97, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .details #wrap .heuristic p {
      font-style: italic;
      font-weight: bold; }
    /* line 100, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .details #wrap .issueImg {
      padding: 15px; }
  /* line 103, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .helpr {
    width: 90%;
    margin: auto;
    background-color: white;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
    /* line 109, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .helpr h1 {
      padding: 10px; }
    /* line 112, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .helpr .processStep {
      padding: 20px;
      overflow: hidden; }
      /* line 116, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .helpr .processStep .stepImg {
        padding: 5px;
        width: 300px;
        float: left; }
      /* line 121, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .helpr .processStep .stepImg2 {
        padding: 5px;
        width: 300px;
        float: left; }
      /* line 125, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .helpr .processStep .stepImg3 {
        padding: 5px;
        width: 300px;
        float: left; }
      /* line 130, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .helpr .processStep .projDesc {
        width: 50%;
        float: left;
        padding: 10px; }
    /* line 134, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .helpr .helprapp {
      width: 100%;
      padding: 20px;
      overflow: hidden; }
      /* line 138, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .helpr .helprapp .helprVolunteer {
        padding: 10px;
        width: 45%;
        float: left; }
      /* line 142, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .helpr .helprapp .showcase {
        padding: 20px;
        float: left;
        width: 50%; }
  /* line 151, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .farmFresh {
    margin: auto;
    width: 90%;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
  /* line 161, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about #greeting {
    padding: 20px;
    width: 60%;
    overflow: hidden;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 90px;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
  /* line 170, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about p {
    margin-top: 40px;
    width: 60%;
    color: black;
    float: left;
    font-size: 1.1em; }
  /* line 176, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about a {
    color: #3498db; }
  /* line 178, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about img {
    border: 5px solid #bdc3c7;
    border-radius: 4px;
    float: left;
    margin-right: 20px; }
  /* line 184, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact #contactInfo {
    padding: 20px;
    width: 60%;
    float: left;
    font-size: 1.1em;
    margin-top: 40px; }
  /* line 190, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact a {
    color: #3498db; }
  /* line 192, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact form {
    float: left;
    padding: 20px;
    width: 30%; }
  /* line 196, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact input {
    padding: 10px;
    border-radius: 5px;
    width: 100%; }
  /* line 200, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact textarea {
    padding: 10px;
    border-radius: 5px;
    width: 100%; }
  /* line 205, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact #wrap2 {
    margin: auto;
    width: 70%;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    margin-top: 90px;
    border-radius: 5px;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
  /* line 219, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .portfolio #wrap {
    width: 1330px;
    margin: auto;
    overflow: hidden; }
    /* line 225, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .portfolio #wrap .project {
      width: 24%;
      padding: 20px;
      float: left;
      background-color: white;
      box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      margin: 5px;
      margin-bottom: 10px;
      height: 500px; }
      /* line 235, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .portfolio #wrap .project a {
        color: #3498db; }
      /* line 237, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .portfolio #wrap .project img {
        margin: auto;
        width: 100%; }

/* line 246, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.intro {
  width: 450px;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 60px;
  background-color: white;
  border: 3px solid #34495e;
  border-radius: 10px;
  box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
  /* line 257, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .intro h1 {
    color: #34495e; }
  /* line 259, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .intro h2 {
    color: #2c3e50; }

/* line 263, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.footer {
  padding: 20px; }
  /* line 266, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 12px; }

@media (max-width: 1680px) {
  /* line 275, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .portfolio #wrap {
    width: 1200px; }
  /* line 278, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .details #wrap {
    width: 60%; }
 }

@media (max-width: 1280px) {
  /* line 288, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .portfolio #wrap {
    width: 660px; }
    /* line 290, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .portfolio #wrap .project {
      width: 320px; }
  /* line 293, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .about #greeting {
    padding: 20px;
    width: 70%; }
  /* line 297, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .contact #contactInfo {
    width: 50%; }
  /* line 299, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .contact form {
    float: left;
    width: 45%; }
  /* line 303, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .details #wrap {
    width: 80%; }
 }

@media (max-width: 1024px) {
  /* line 311, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .portfolio #wrap {
    width: 660px; }
    /* line 313, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .portfolio #wrap .project {
      width: 320px; }
  /* line 316, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .about #greeting {
    padding: 20px;
    width: 90%; }
  /* line 320, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .details #wrap {
    width: 90%; }
  /* line 322, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .details .issueImg {
    width: 60%; }
  /* line 325, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .contact #wrap2 {
    width: 90%; }
  /* line 327, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .contact #contactInfo {
    width: 50%; }
  /* line 329, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .contact form {
    width: 50%; }
  /* line 331, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .helpr {
    width: 90%;
    margin: auto;
    background-color: white;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
    /* line 336, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .helpr h1 {
      margin-right: 10px; }
    /* line 339, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .helpr .helprapp .helprVolunteer {
      padding: 10px;
      width: 80%; }
    /* line 342, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .helpr .helprapp .showcase {
      width: 50%; }
 }

@media (max-width: 768px) {
  /* line 352, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .portfolio #wrap {
    width: 330px; }
    /* line 354, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .portfolio #wrap .project {
      width: 320px; }
  /* line 357, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .about #greeting {
    padding: 20px;
    width: 100%; }
    /* line 360, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .about #greeting p {
      margin-top: 40px;
      width: 55%; }
  /* line 364, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .details #wrap {
    width: 100%; }
  /* line 366, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .details .issueImg {
    width: 80%; }
  /* line 368, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .helpr {
    width: 90%;
    margin: auto;
    background-color: white;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
    /* line 375, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .helpr .processStep {
      padding: 20px;
      overflow: hidden; }
      /* line 379, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .helpr .processStep .projDesc {
        width: 90%;
        float: left;
        padding: 10px; }
    /* line 384, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .helpr .helprapp .showcase {
      width: 100%; }
    /* line 386, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .helpr .helprapp .helprVolunteer {
      padding: 0px;
      width: 90%; }
 }

@media (max-width: 640px) {
  /* line 396, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .about #greeting {
    padding: 20px;
    width: 100%; }
    /* line 399, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .about #greeting p {
      margin-top: 40px;
      width: 98%; }
    /* line 402, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .about #greeting img {
      width: 40%; }
  /* line 405, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .contact #contactInfo {
    width: 100%; }
  /* line 407, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .contact form {
    width: 100%; }
  /* line 409, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .northerntickets {
    width: 100%; }
    /* line 411, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .northerntickets .slides {
      width: 450px;
      margin: auto; }
      /* line 414, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .northerntickets .slides .testingSlide {
        width: 100%;
        padding: 10px; }

  /* line 419, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  #simple-menu {
    display: block;
    float: right;
    padding: 20px; }

  /* line 423, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .nav {
    display: none; }
 }

@media (max-width: 480px) {
  /* line 431, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .home .intro {
    width: 400px; }
  /* line 434, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .about #greeting {
    padding: 20px;
    width: 100%; }
    /* line 437, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .about #greeting p {
      margin-top: 40px;
      width: 98%; }
    /* line 440, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .about #greeting img {
      width: 60%; }
  /* line 443, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .details .issueImg {
    width: 100%; }
  /* line 446, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .contact #wrap2 {
    width: 100%; }
  /* line 448, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .contact #contactInfo {
    width: 100%; }
  /* line 450, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .contact form {
    width: 100%; }
  /* line 452, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body .main .northerntickets {
    width: 100%; }
    /* line 454, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .northerntickets .slides {
      width: 420px;
      margin: auto; }
      /* line 457, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .northerntickets .slides .testingSlide {
        width: 100%;
        padding: 10px; }
 }
