/* line 8, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 11, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: #555; }

/* line 18, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #555; }

/* line 24, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 100%;
  display: block;
  clear: both;
  float: left; }

/* line 31, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.header {
  padding: 0px;
  border-bottom: 1px solid #efefef; }
  /* line 35, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .header img {
    padding: 10px; }

/* line 38, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.nav {
  margin: 0;
  padding: 10px;
  float: right;
  margin-top: 45px; }
  /* line 44, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .nav li {
    margin: 0;
    padding: 5px;
    display: inline-block;
    list-style: none; }
    /* line 50, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .nav li a {
      padding: 5px 10px; }
    /* line 53, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .nav li a:hover {
      color: #3498db; }

/* line 57, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.main {
  padding: 20px;
  border-bottom: 1px solid #efefef;
  height: auto;
  background-color: #ecf0f1; }
  /* line 64, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .bg {
    background-position: center;
    background-size: contain; }
  /* line 68, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about #greeting {
    padding: 20px;
    width: 800px;
    overflow: hidden;
    margin: auto; }
  /* line 73, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about p {
    margin-top: 40px;
    width: 60%;
    color: black;
    float: left;
    font-size: 1.1em; }
  /* line 79, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about a {
    color: #3498db; }
  /* line 81, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about img {
    border: 5px solid #bdc3c7;
    border-radius: 4px;
    float: left;
    margin-right: 20px; }
  /* line 87, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact #contactInfo {
    padding: 20px;
    width: 60%;
    float: left;
    font-size: 1.1em;
    margin-top: 40px; }
  /* line 93, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact a {
    color: #3498db; }
  /* line 95, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact form {
    float: left;
    padding: 20px;
    width: 30%; }
  /* line 99, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact input {
    padding: 10px;
    border-radius: 5px;
    width: 100%; }
  /* line 103, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact textarea {
    padding: 10px;
    border-radius: 5px;
    width: 100%; }
  /* line 108, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact #wrap2 {
    margin: auto;
    width: 70%;
    overflow: hidden; }
  /* line 116, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .portfolio #wrap {
    width: 700px;
    margin: auto;
    overflow: hidden; }
    /* line 121, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .portfolio #wrap .project {
      width: 340px;
      padding: 20px;
      float: left;
      background-color: white;
      border: 5px solid #bdc3c7;
      border-radius: 5px;
      margin: 5px;
      margin-bottom: 10px;
      height: 500px; }
      /* line 132, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .portfolio #wrap .project img {
        margin: auto;
        width: 279px; }

/* line 141, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.intro {
  width: 450px;
  text-align: center;
  padding: 20px;
  margin: auto; }

/* line 148, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.footer {
  padding: 20px; }
  /* line 151, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 12px; }
