/* line 8, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 11, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: #555; }

/* line 18, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #555; }

/* line 23, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
#simple-menu {
  display: none; }

/* line 25, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
#sidr {
  display: none; }

/* line 29, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 100%;
  display: block;
  clear: both;
  float: left; }

/* line 36, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.header {
  padding: 0px;
  background-color: white; }

/* line 41, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.nav {
  margin: 0;
  padding: 10px;
  float: right;
  margin-top: 45px; }
  /* line 47, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .nav li {
    margin: 0;
    padding: 5px;
    display: inline-block;
    list-style: none; }
    /* line 53, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .nav li a {
      padding: 15px; }
    /* line 57, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .nav li a:hover {
      color: #3498db; }

/* line 61, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.main {
  padding: 20px;
  background-image: url(../images/home_mock.png);
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 69, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .details #wrap {
    width: 50%;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    background-color: white;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
    /* line 76, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .details #wrap h2 {
      color: #e74c3c;
      padding-bottom: 5px;
      border-bottom: 1px solid #e74c3c; }
    /* line 80, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .details #wrap p {
      font-size: 1.1em; }
    /* line 83, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .details #wrap .heuristic p {
      font-style: italic;
      font-weight: bold; }
    /* line 86, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .details #wrap .issueImg {
      padding: 15px; }
  /* line 90, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .helpr .processStep {
    width: 50%;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    background-color: white;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
    /* line 98, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .helpr .processStep .stepImg {
      padding: 5px;
      width: 50%; }
  /* line 105, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about #greeting {
    padding: 20px;
    width: 60%;
    overflow: hidden;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 90px;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
  /* line 114, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about p {
    margin-top: 40px;
    width: 60%;
    color: black;
    float: left;
    font-size: 1.1em; }
  /* line 120, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about a {
    color: #3498db; }
  /* line 122, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .about img {
    border: 5px solid #bdc3c7;
    border-radius: 4px;
    float: left;
    margin-right: 20px; }
  /* line 128, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact #contactInfo {
    padding: 20px;
    width: 60%;
    float: left;
    font-size: 1.1em;
    margin-top: 40px; }
  /* line 134, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact a {
    color: #3498db; }
  /* line 136, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact form {
    float: left;
    padding: 20px;
    width: 30%; }
  /* line 140, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact input {
    padding: 10px;
    border-radius: 5px;
    width: 100%; }
  /* line 144, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact textarea {
    padding: 10px;
    border-radius: 5px;
    width: 100%; }
  /* line 149, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .contact #wrap2 {
    margin: auto;
    width: 70%;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    margin-top: 90px;
    border-radius: 5px;
    box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
  /* line 163, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .main .portfolio #wrap {
    width: 1330px;
    margin: auto;
    overflow: hidden; }
    /* line 169, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    .main .portfolio #wrap .project {
      width: 24%;
      padding: 20px;
      float: left;
      background-color: white;
      box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      margin: 5px;
      margin-bottom: 10px;
      height: 500px; }
      /* line 179, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .portfolio #wrap .project a {
        color: #3498db; }
      /* line 181, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      .main .portfolio #wrap .project img {
        margin: auto;
        width: 100%; }

/* line 190, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.intro {
  width: 450px;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 60px;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 10px 20px 35px -1px rgba(0, 0, 0, 0.75); }
  /* line 200, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .intro h1 {
    color: white; }
  /* line 202, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .intro h2 {
    color: white; }

/* line 206, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
.footer {
  padding: 20px; }
  /* line 209, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 12px; }

@media (max-width: 1680px) {
  /* line 215, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body {
    background-color: red; }
    /* line 219, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .portfolio #wrap {
      width: 1200px; }
    /* line 222, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .details #wrap {
      width: 60%; }
 }

@media (max-width: 1280px) {
  /* line 229, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body {
    background-color: blue; }
    /* line 233, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .portfolio #wrap {
      width: 660px; }
      /* line 235, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .portfolio #wrap .project {
        width: 320px; }
    /* line 238, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .about #greeting {
      padding: 20px;
      width: 70%; }
    /* line 242, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .contact #contactInfo {
      width: 50%; }
    /* line 244, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .contact form {
      float: left;
      width: 45%; }
    /* line 248, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .details #wrap {
      width: 80%; }
 }

@media (max-width: 1024px) {
  /* line 253, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body {
    background-color: green; }
    /* line 257, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .portfolio #wrap {
      width: 660px; }
      /* line 259, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .portfolio #wrap .project {
        width: 320px; }
    /* line 262, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .about #greeting {
      padding: 20px;
      width: 90%; }
    /* line 266, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .details #wrap {
      width: 90%; }
    /* line 268, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .details .issueImg {
      width: 60%; }
    /* line 271, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .contact #wrap2 {
      width: 90%; }
    /* line 273, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .contact #contactInfo {
      width: 50%; }
    /* line 275, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .contact form {
      width: 50%; }
 }

@media (max-width: 768px) {
  /* line 280, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body {
    background-color: yellow; }
    /* line 284, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .portfolio #wrap {
      width: 330px; }
      /* line 286, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .portfolio #wrap .project {
        width: 320px; }
    /* line 289, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .about #greeting {
      padding: 20px;
      width: 100%; }
      /* line 292, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .about #greeting p {
        margin-top: 40px;
        width: 55%; }
    /* line 296, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .details #wrap {
      width: 100%; }
    /* line 298, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .details .issueImg {
      width: 80%; }
 }

@media (max-width: 640px) {
  /* line 301, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body {
    background-color: white; }
    /* line 305, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .about #greeting {
      padding: 20px;
      width: 100%; }
      /* line 308, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .about #greeting p {
        margin-top: 40px;
        width: 98%; }
      /* line 311, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .about #greeting img {
        width: 40%; }
    /* line 314, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .contact #contactInfo {
      width: 100%; }
    /* line 316, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .contact form {
      width: 100%; }

  /* line 318, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  #simple-menu {
    display: block;
    float: right;
    padding: 20px; }

  /* line 322, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  .nav {
    display: none; }
 }

@media (max-width: 480px) {
  /* line 327, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
  body {
    background-color: orange; }
    /* line 331, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .about #greeting {
      padding: 20px;
      width: 100%; }
      /* line 334, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .about #greeting p {
        margin-top: 40px;
        width: 98%; }
      /* line 337, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
      body .main .about #greeting img {
        width: 60%; }
    /* line 340, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .details .issueImg {
      width: 100%; }
    /* line 343, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .contact #wrap2 {
      width: 100%; }
    /* line 345, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .contact #contactInfo {
      width: 100%; }
    /* line 347, C:/Users/Elicia/Desktop/advancedJavascriptAssignment-3/src/assets/styles/index.sass */
    body .main .contact form {
      width: 100%; }
 }
