doctype html
html

  head

  meta(charset="utf-8")

  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name='keywords', content='Elicia Durtnall, UX Design, User Experience Design, Toronto, Freelancer')

  title Elicia Durtnall, UX Designer Toronto ON,

  meta(name="description", content="Humber College graduate, Elicia Durtnall's personal portfolio website.")

  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

  link(rel="stylesheet", href="assets/styles/jquery.sidr.dark.css", type="text/css")
  link(rel="stylesheet", href="assets/styles/main.css", type="text/css")
 

  body

    div.wrapper

       header.header
         a(href="/")
          img.logo(src='assets/images/logo.png')

          ul.nav

            li: a(href="/") Home

            li: a(href="/about") About
            
            li: a(href="/portfolio") Portfolio
               
            li: a(href="/contact") Contact 
         
          a#simple-menu(href='#sidr')
            img(src='assets/images/menu.png')
     
          #sidr
            ul
              li
                a(href='/') Home
                  
              li.active
                a(href='/about') About
                
              li
                a(href='/portfolio') Portfolio

              li
                a(href='/contact') Contact

            script.
              $(document).ready(function() {
                
              });

   

      div.main
    
      footer.footer

        p Copyright &copy; 2014

  // -----------------------------
  // Templates
  // -----------------------------

  script#home(type="text/template").
    <div class="page home"> 
    {{{content}}}
    </div>

  script#northerntickets(type="text/template").
    <div class="page northerntickets"> 
    {{#each testing}}
          <div class="slides">
            <a href="{{url}}"><img src="{{image}}" class="testingSlide"></a>
          </div>
        {{/each}}
    </div>  

  script#farmFresh(type="text/template").
    <div class="page farmFresh"> 
      <img src="{{image}}" class="farmFresh_mockups">
      {{#each content}}
          <div class="farmFreshContent">
            <h2>{{title}}</h2>
            <p>{{desc}}</p>
          </div>
        {{/each}}
        <img src="{{colorScheme}}">
    </div>  

  script#helpr(type="text/template").
    <div class="page helpr">
    
    <div class="helprapp">
      <img src="{{showcaseImage}}" class="showcase">
      <h1>{{{maintitle}}}</h1>
      <p class="helprVolunteer">{{{content}}}</p>
    </div>
      {{#each step}}
          <div class="processStep">
            <img src="{{image}}" class="stepImg">
            <div class="projDesc">
              <h2>{{title}}</h2>
              <p>{{desc}}</p>
            </div>
          </div>
        {{/each}}
    </div>


  script#about(type="text/template").
    <div class="page about">
    <div id="greeting">
      <img src="{{{image}}}"/>
      {{{ body }}}  
    </div>
    </div>

  script#portfolio(type="text/template").
    <div class="page portfolio">
      <div id="wrap">
        {{#each works}}
          <div class="project">
            <img src="{{image}}" class="projectImg">
            <div class="projDesc">
              <h2>{{title}}</h2>
              <p>{{desc}}</p>
              <a href="{{url}}">Learn More >></a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
 
  script#details(type="text/template").
    <div class="page details">
      <div id="wrap">
        <h2>{{{ title1 }}}</h2>
        <p>{{{ pg }}}</p>
        <h2>{{{ title }}}</h2>
        <p>{{{ body }}}</p>
        <h2>{{{ title2 }}}</h2>
       
       
         {{#each issue}}
          <div class="pageIssues">
            <div class="projDesc">
              <h3>{{ subtitle }}</h3>
              <p>{{desc}}</p>
               <img src="{{image}}" class="issueImg">
              <div class="heuristic"><p>{{heuristic}}</p></div>
          </div>
        {{/each}}

      </div>
    </div>
 
  script#contact(type="text/template").
    <div class="page contact">
     <div id="wrap2">
      <div id="contactInfo">
      {{{ content }}}
      {{{ body }}}
     </div>
     </div>
    </div>

  // -----------------------------
  // Libraries
  // -----------------------------

  script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")


  // -----------------------------
  // Application
  // -----------------------------

  script(src='assets/scripts/jquery-1.11.2.min.js')
    // Include the Sidr JS
  script(src='assets/scripts/jquery.sidr.min.js')
  script(type="text/javascript", src="assets/scripts/main.js")