
// -----------------------------
// Variables
// -----------------------------

$color: #555
$lightColor: #efefef
$darkColor: #333

   
// -----------------------------
// Global Styles
// -----------------------------
*
  box-sizing: border-box

body
  padding: 0
  margin: 0
  font-size: 14px
  font-family: sans-serif
  color: $color


a
  text-decoration: none
  display: inline-block
  color: $color

// -----------------------------
// App Specific
// -----------------------------

.header, .main, .footer
  width: 100%
  display: block
  clear: both
  float: left

// -----------------------------
// Header
// -----------------------------

.header
  padding: 0px
  border-bottom: 1px solid $lightColor

// -----------------------------
// Navigation
// -----------------------------

.nav
  margin: 0
  padding: 10px
  float:right
  margin-top:45px

  li
    margin: 0
    padding: 5px
    display: inline-block
    list-style: none

    a
      padding: 15px


    a:hover
      color:#3498db

// -----------------------------
// Main
// -----------------------------

.main
  padding: 20px
  border-bottom: 1px solid $lightColor
  
  .details
      #wrap
        width:50%
        padding:20px
        margin:auto
        overflow:hidden 
        background-color: white
        box-shadow: 10px 20px 35px -1px rgba(0,0,0,0.75);
        h2
          color:#e74c3c
          padding-bottom:5px
          border-bottom:1px solid #e74c3c 
        p
          font-size:1.1em 
        .heuristic
          p
            font-style:italic
            font-weight:bold
        .issueImg
          padding:15px

  .helpr
    .processStep
      width:50%
      padding:20px
      margin:auto
      overflow:hidden 
      background-color: white
      box-shadow: 10px 20px 35px -1px rgba(0,0,0,0.75);

      .stepImg
        padding:5px
        width:50%

  .home
  background-color: #ecf0f1
  background-image: url(../images/home_mock.png)
  background-repeat: no-repeat
  background-size: cover
 
  .about
    #greeting
      padding:20px
      width:60%
      overflow:hidden
      margin:auto
      background-color:white
      border-radius: 5px
      margin-top:90px
      box-shadow: 10px 20px 35px -1px rgba(0,0,0,0.75);
    p
      margin-top:40px
      width:60%
      color:black
      float: left
      font-size: 1.1em
    a
      color:#3498db
    img
      border: 5px solid #bdc3c7
      border-radius: 4px
      float:left
      margin-right: 20px
  .contact
    #contactInfo
      padding:20px
      width:60%
      float:left
      font-size: 1.1em
      margin-top:40px
    a
      color: #3498db
    form
      float:left
      padding:20px
      width:30%
    input
      padding:10px
      border-radius:5px
      width:100%
    textarea
      padding:10px
      border-radius:5px
      width:100%

    #wrap2
      margin:auto
      width:70%
      overflow:hidden
      background-color:white
      padding:20px
      margin-top:90px
      border-radius:5px
      box-shadow: 10px 20px 35px -1px rgba(0,0,0,0.75);

      
  

  .portfolio
    #wrap
      width: 71%
      margin:auto
      overflow:hidden


      .project
        width: 320px 
        padding:20px
        float:left
        background-color:white
        box-shadow: 10px 20px 35px -1px rgba(0,0,0,0.75);
        border-radius: 5px
        margin: 5px
        margin-bottom: 10px
        height: 500px
        a
          color: #3498db
        img
          margin: auto
          width:279px

  
  


// -----------------------------
// Footer
// -----------------------------

.intro
  width:450px
  text-align:center
  padding:20px
  margin:auto
  margin-top:60px
  border: 5px solid white
  border-radius:10px
  box-shadow: 10px 20px 35px -1px rgba(0,0,0,0.75);

  h1
    color: white
  h2
    color: white


.footer
  padding: 20px

  p
    margin: 0
    padding: 0
    font-size: 12px

// Desktop
@media (max-width: 1680px)
  body
    background-color:red
   
// Laptop
@media (max-width: 1280px)
  body
    background-color:blue
// Tablet
@media (max-width: 1024px)
  body
    background-color:green
  
@media (max-width: 768px)
  body
    background-color:yellow

// Mobile
@media (max-width: 640px)
  body
    background-color:black

@media (max-width: 480px)
  body
    background-color:orange