
// -----------------------------
// Variables
// -----------------------------

$color: #555
$lightColor: #efefef
$darkColor: #333

   
// -----------------------------
// Global Styles
// -----------------------------
*
  box-sizing: border-box

body
  padding: 0
  margin: 0
  font-size: 14px
  font-family: sans-serif
  color: $color

a
  text-decoration: none
  display: inline-block
  color: $color

// -----------------------------
// App Specific
// -----------------------------

.header, .main, .footer
  width: 100%
  display: block
  clear: both
  float: left

// -----------------------------
// Header
// -----------------------------

.header
  padding: 0px
  border-bottom: 1px solid $lightColor

  img
    padding:10px
// -----------------------------
// Navigation
// -----------------------------

.nav
  margin: 0
  padding: 10px
  float:right
  margin-top:45px

  li
    margin: 0
    padding: 5px
    display: inline-block
    list-style: none


    a
      padding: 5px 10px

    a:hover
      color:#3498db

// -----------------------------
// Main
// -----------------------------

.main
  padding: 20px
  border-bottom: 1px solid $lightColor
    
  .home
  height:auto
  background-color: #ecf0f1
  .bg
     background-position: center;
     background-size: contain;
  .about
    #greeting
      padding:20px
      width:800px
      overflow:hidden
      margin:auto
    p
      margin-top:40px
      width:60%
      color:black
      float: left
      font-size: 1.1em
    a
      color:#3498db
    img
      border: 5px solid #bdc3c7
      border-radius: 4px
      float:left
      margin-right: 20px
  .contact
    #contactInfo
      padding:20px
      width:60%
      float:left
      font-size: 1.1em
    a
      color: #3498db
    form
      float:left
      padding:20px
    

    #wrap2
      margin:auto
      width:50%
      overflow:hidden
      
  

  .portfolio
    #wrap
      width: 700px
      margin:auto
      overflow:hidden

      .project
        width:340px
        padding:20px
        float:left
        background-color:white
        border: 5px solid #bdc3c7
        border-radius: 5px
        margin: 5px
        margin-bottom: 10px
        height: 500px

        img
          margin: auto
          width:279px

 
  


// -----------------------------
// Footer
// -----------------------------

.intro
  width:450px
  text-align:center
  padding:20px
  margin:auto


.footer
  padding: 20px

  p
    margin: 0
    padding: 0
    font-size: 12px

